<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exampe.sys.mapper.MessageNoticeReadMapper">

    <!-- 统计用户对指定消息的已读记录数 -->
    <select id="countRead" resultType="int">
        SELECT COUNT(1)
        FROM message_notice_read
        WHERE message_id = #{messageId}
          AND user_id = #{userId}
    </select>

</mapper>
